modules:
  - Battery
  - WM
  - Clock
  - Weather
  - Volume

colors:
  ##  'Global' colors:
  #   Inner border of a window:
  :al_winbi: "#000000"

  ##  Inactive colors:
  #   Outer border of a frame:
  :in_framebr: "#101010"
  #   Inner border of a frame:
  :in_framebg: "#565656"
  #   Main border of a window:
  :in_winbr: "#454545"
  #   Outer border of a window:
  # IN_WINBO is unset
  #   Inner border of a window:
  # IN_WINBI is unset

  ##  Active colors:
  :ac_framebr: "#222222"
  :ac_framebg: "#345F0C"
  :ac_winbr: "#9FBC00"
  :ac_winbo: "#3E4A00"
  :ac_winbi: "#3E4A00"

  ##  Urgent colors:
  # UR_WINBI is unset
  :ur_winbr: "#FF0675"
  # UR_WINBO is unset

  ##  Panel-specific colors:
  #   "Selected" text:
  :se_text: "#101010"
  #   Dark (inactive) text:
  :in_text: "#909090"
  #   "Mildly darkened" text:
  :mi_text: "#BCBCBC"
  #   "Active", bright text:
  :ac_text: "#EFEFEF"

module_options:
  lemonbar:
    :name: barabara
    :height: 12
    :format: >
      %%{S%<monitor>s}%%{l}%<tags>s%<sep>s
      %%{c} %<window_title>s
      %%{r} %<volume>s %<battery>s %<sep>s %<time>s %<sep>s %<weather>s
    :fonts:
      :text: "-lucy-tewi-medium-*-normal-*-11-*-*-*-*-*-*-*"
      :glyphs: "-wuncon-siji-medium-r-normal-*-10-100-75-75-c-80-iso10646-1"
    :snippets:
      :sep: "%%{B-}%%{F%<ac_winbr>s}|%%{F-}"
    # :extra_opts:
      # Pipe panel into sh (needed for clicks and is unsafe!):
      # - "| sh"

  clock:
    format: "%%H%%{F%<in_text>s}:%%{F-}%%M %%{F%<in_text>s}%%Y%%{F%<mi_text>s}%%m%%{F-}%%d"

  wm:
    tag_icons:
      mail:  ""
      work:  ""
      web:   ""
      im:    ""
      term:  ""
      dev:   ""
      files: ""
      doc:   ""
      docs:  ""
      misc:  ""

  battery:
    name: BAT1
    icons:
      :low: "\ue034"
      :med: "\ue036"
      :hi:  "\ue037"
      :ful: "\ue09e"
      :chr: "\ue041"

  volume:
    icons:
      :mute: "\ue04f"
      :low:  "\ue04e"
      :med:  "\ue050"
      :max:  "\ue05d"

  weather:
    api_key: "0000000000000000000000000000000"
    location: "Londoon"
    unit: "c"
    format: "%%{F%<ac_winbr>s}%<icon>s%%{F-} %<temp>s°"
